*{
    box-sizing: border-box;
    color: white;
    background-color: black;
}
h1{
    font-family: "Press Start 2P", cursive;
}
p{
    font-family: 'Share Tech Mono', monospace;
}
.name{
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
}
.title{
    text-align: center;
    font-family: "Press Start 2P", cursive;
}
.contact-list{
    list-style-type: none;
}
@use "@material/card";
@include card.core/styles;