*{
    box-sizing: border-box;
    color: white;
    background-color: black;
}
p{
    font-family: 'Share Tech Mono', monospace;
}
.tab-name{
    font-family: "Press Start 2P", cursive;
    text-align: center; 
}
.name{
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
}
.title{
    text-align: center;
    font-family: "Press Start 2P", cursive;
}
#space{
    margin-top: 25px;
}
.contact-list{
    list-style-type: none;
}
.project-name{
    font-family: 'Share Tech Mono', monospace;
}
.picture{
    width: 25%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;   
}
.social-link{
    text-decoration: none;
    color: white;
}
.card-width{
    width: 45%;
}
/* @use "@material/card";
@include card.core/styles; */